/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

header,
footer {
  background-color: #f9f9f9;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  margin: 0;
  font-size: 1.785em;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin: 3em 0;
}

h3 {
  font-weight: normal;
  font-size: 1.285em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: .75em 30%;
}

header ul,
.foot-nav {
  list-style-type: none;
  padding: 2em 0em;
  margin: 0;
  display: inline-block;
  width: 90%;
}

header ul li,
.foot-nav li {
  font-weight: bold;
  background-color: white;
  margin: 5px auto;
  padding: .75em;
}

img {
  width: 100%;
  margin: 0 auto;
}

p {
  font-weight: lighter;
  font-size: 1.143em;
  line-height: 1.5;
}

footer {
  margin-top: 4em;
}

/* Class Styles */

.wrapper,
.footer-foot {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.profile-image {
  width: 70%;
}

.portfolio-piece {
  margin-bottom: 2em;
}

footer .wrapper {
  color: #7a7a7a;
}

footer strong {
  font-weight: normal;
}

.footer-foot {
  color: black;
  font-size: 0.85em;
  padding: 2em 0;
  margin-top: 5em;
  border-top: 1px solid #dcdcdc;
}

.footer-foot p {
  float: left;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.back-to-top {
  float: right;
  padding: 0;
  font-weight: bold;
}

.foot-nav {
  display: none;
}

/* Media Queries */

@media (min-width: 768px) {

  header {
    padding: 4em 0;
  }

  header ul {
    padding: 1em 0em 3em;
  }

  header ul li,
  .foot-nav li {
    display: inline-block;
    background-color: transparent;
    padding: .5em;
  }

  a {
    padding: .75em;
  }

  h3 {
    font-size: 1.14em;
  }

  footer .wrapper{
    font-size: 1.214em;
    padding: 0 5em;
  }

  .profile-image {
    float: right;
    width: 40%;
  }

  .about-me {
    float: left;
    text-align: left;
    width: 60%;
    padding-right: 20px;
    margin: 0;
    font-size: 1.35em;
  }

  .portfolio-piece {
    float: left;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .portfolio-piece p{
    padding: 0 3em;
    font-size: 1em;
  }

  .footer-foot p{
    margin: 5px 0;
    padding: .5em 0;
  }

  .back-to-top {
    display: none;
  }

  .foot-nav {
    display: inline-block;
    float: right;
    width: auto;
    padding: 0;
  }

  /* Clear Fix */

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {

  header h1 {
    float: left;
    width: auto;
    font-size: 1.57em;
  }

  .main-nav {
    float: right;
    width: auto;
    padding-top: 0;
  }

  .profile-image {
    width: 43%;
  }

  .about-me {
    width: 55%;
    padding-right: 30px;
  }

  .portfolio-piece {
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .portfolio-piece p {
    padding: 0 1.35em;
  }

  footer {
    padding-bottom: 0;
  }

  footer .wrapper {
    padding: 0 12em;
  }

}
